.yar-bg-yellow {
    background-color: yellow;
}

.yar-bg-purple {
    background-color: #cb005c;
}

.yar-bg-light-gray {
    background-color: #f5f5f5;
}

.yar-bg-white {
    background-color: white;
}

.yar-bg-gray-2{
    background-color: #c1c1c1;
}

.yar-bg-blue {
    background-color: #4582dc;
}