.yar-pagination {
    display: flex;
    justify-content: center;

    &__page {
        width: 30px;
        height: 30px;
        border: 1px solid $blue;
        border-radius: 4px;
        background-color: white;
        color: $blue;
        margin: 5px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;

        &_closing {
            border: 1px solid transparent;
        }

        &_selected {
            background: $blue;
            color: white;
        }

        &:hover {
            border: 1px solid $blue;
            background: $blue;
            color: white;
        }
    }
}