.yar-filters-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.yar-filters-panel__filter{
    padding: 10px;
    position: relative;
}

.yar-filters-panel__line{
    border-left: 1px solid #636363;
    height: 20px;
}

.yar-filters-panel__filter-title {

}

.yar-filters-panel__filter-list{
    position: absolute;
    background: white;
    padding: 10px;
    left: 0;
    width: max-content;
}

.yar-filters-list {
    list-style-type: none;
}

.yar-filters-list__item {
    margin-top: 5px;
}