.yar-bg-yellow {
    background-color: yellow;
}

.yar-bg-purple {
    background-color: #cb005c;
}

.yar-bg-light-gray {
    background-color: #d2d2d2;
}

.yar-bg-white {
    background-color: white;
}

.yar-bg-blue {
    background-color: #4582dc;
}